#headline_Burger{
    text-align: left;
    color: blueviolet;
    font-size: 50px;
    
}
body{
    padding-left: 2%;
}
#BurgerHeadlinePhoto{
    
}
.body_h1{
    text-align: left;
    color: blueviolet;
    font-size: 35px;
}